<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.UniPlan.loginregister">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/uniplan_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/uniplan_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginRegister">
        <activity
            android:name=".ImageViewpager"
            android:exported="true" />
        <activity
            android:name=".Notice_B.Post_Treeview"
            android:exported="true" />
        <activity
            android:name=".Intro.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Licenses"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Notice_B.Image_zoom"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Notice_B.Post_Search"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.LogoutActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".StartLoadActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Notice_B.Post_write"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Notice_B.NoticeBoard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Notice_B.Post_Comment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Notice_B.Post_Update"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SubjectInfoActivity"
            android:screenOrientation="portrait" /> <!-- 푸쉬알림 설정 -->
        <service
            android:name=".push_alram.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/uniplan_logo" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification Msg. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.UniPlan.loginregister"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>